<div class="modal-wrapper">
  <mat-tab-group animationDuration="0ms"
                 mat-stretch-tabs="false"
                 mat-align-tabs="start"
                 class="h-100">
    <mat-tab label="{{'developers.profileLabel' | translate}}">
      <collabro-developer-profile [developer]="data?.developer"
                                  [developerAvatar]="avatarData"/>
    </mat-tab>

    <mat-tab label="{{'developers.feedbacksLabel' | translate}}">
      <collabro-developer-comments (loadData)="loadingFeedbacks($event)"
                                   [developerId]="data?.developer?.id"
                                   [feedbacks]="feedbacks"
                                   [currentUser]="user"
                                   [imageData]="imageData"/>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="button-container">
  <button mat-dialog-close class="transparent-button" mat-button>
    {{ 'general.cancelLabel' | translate }}
  </button>

  <button *ngIf="user?.roleName === roleEnum.Admin && !data?.developer.isDeleted else inviteButton"
          class="button-red big-button"
          (click)="deleteDeveloper(data?.developer.id)"
          mat-button>{{ 'general.deleteLabel' | translate }}
  </button>

  <ng-template #inviteButton>
    <button *ngIf="user?.roleName === roleEnum.ProjectOwner" class="button-purple big-button"
            (click)="openProjectsDialog(data?.developer.id)"
            mat-button>{{ 'general.inviteLabel' | translate }}
    </button>
  </ng-template>
</div>

