.login-button {
  gap: 10px;
  width: 400px;
  display: flex;
  padding: 14px 10px;
  background: linear-gradient(
    142deg,
    rgba(97, 141, 255, 1) 0%,
    rgba(134, 64, 205, 1) 53%,
    rgba(87, 3, 116, 1) 100%
  );
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  cursor: pointer;
  color: azure;
  height: auto;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Noto Sans";
  font-weight: 600;
}
.register-button {
  gap: 10px;
  width: 400px;
  display: flex;
  padding: 14px 10px;
  background: linear-gradient(
    142deg,
    rgba(45, 76, 238, 1) 0%,
    rgba(33, 30, 191, 1) 53%,
    rgba(3, 15, 116, 1) 100%
  );
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
  color: azure;
  height: auto;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Noto Sans";
  font-weight: 600;
}

.after-register-button {
  gap: 10px;
  width: 400px;
  display: flex;
  padding: 14px 10px;
  background: linear-gradient(
    142deg,
    rgba(97, 141, 255, 1) 0%,
    rgba(134, 64, 205, 1) 53%,
    rgba(87, 3, 116, 1) 100%
  );
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;

  color: azure;
  height: auto;
  font-size: 20px;
  text-align: left;
  font-family: "Noto Sans";
  font-weight: 600;
  cursor: pointer;
}

.reset-button {
  gap: 10px;
  width: 400px;
  display: flex;
  padding: 14px 10px;
  background: linear-gradient(
    142deg,
    rgba(232, 71, 197, 1) 0%,
    rgba(205, 64, 123, 1) 53%,
    rgba(116, 3, 44, 1) 100%
  );
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;

  color: azure;
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: "Noto Sans";
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
}
