.card-wrapper {
  padding: 20px;
  border-radius: 20px;
  background-color: #0C0E12;
  border: 1px solid #373639;
  height: 100%;
  display: flex;
  cursor: pointer;

  .developer-item {
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--gb900);
  }

  .developer-label {
    text-transform: uppercase;
  }

  .item-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2.4rem;
    border-radius: 10px;
    column-gap: 2rem;
    row-gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 2.4rem;

    &-placeholder {
      height: 7.2rem;
      width: 7.2rem;
      background: #DFE7F5;
      border: 1px dashed #BBC5D8;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      overflow: hidden;

      &-icon {
        width: 3.2rem;
        height: 3.2rem;
        font-size: 3.2rem;
      }

      .avatar-photo {
        height: 100%;
      }
    }
  }

  .user-info-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .user-full-name {
      font-weight: 500;
      font-size: 2rem;
      line-height: 32px;
    }

    .country-image {
      width: 15px;
      height: 15px;
    }

    .user-role-name {
      color: #FCFBFD;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.7;
    }
  }
}

.technology-item-container {
  border-radius: 8px;
  padding: 8px 14px;
  color: azure;
  gap: 10px;
  background-color: #0C0E12;
  border: 1px solid #373639;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.technologies-container {
  display: flex;
  padding: 0 10px;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
}

.footer-label {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
}
