@import "../../../../styles/responsive-variables";

.empty-state-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2.4rem;

  .empty-state-image {
    margin-bottom: 5.6rem;
  }

  .empty-state-title {
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 5rem;
    color: azure;
    text-align: center;
  }

  .empty-state-subtitle {
    margin-top: .4rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
    color: azure;
    text-align: center;
  }
}


@media (max-width: $medium) {
  .empty-state-image {
    display: none;
  }
}
