.vc-sidebar-container {
  padding: 10px;
  height: 100%;
  width: 25rem;
  background-color: #000000;

  .vc-sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 17rem;
      height: 4.8rem;
    }

    mat-icon {
      color: #81CD78;
    }
  }

  .vc-menu-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 1.0rem;
    padding: 1rem 2.2rem;
    text-decoration: none;


    .vc-menu-item-label {
      width: 100%;
      margin: 0 .8rem;
      font-size: 1.9rem;
      line-height: 2.2rem;
      font-weight: 500;
      color: #999A9D;
    }
  }

  .vc-sidebar-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;

    .vc-sidebar-top-items {
      overflow: auto;
      padding: 0 .2rem;
    }
  }

  .vc-copyright {
    font-size: 1.2rem;
    line-height: 1.9rem;
    color: var(--gb500);
    padding: 3.0rem 10px 1rem 10px;
  }
}

.vc-sidebar-closed-container {
  padding: 2rem 4px;
  width: initial;

  .vc-sidebar-header {
    justify-content: center;
  }

  .vc-menu-item {
    justify-content: center;
  }
}

.vc-menu-item-element {
  display: flex;
  align-items: center;
  padding: 1.2rem 3.2rem;
  font-size: 1.9rem;
  line-height: 2.2rem;
  color: #828EA4;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;

  p {
    width: 100%;
  }
}

.icon {
  color: #565F70;
}

.red-point {
  width: 5px;
  height: 5px;
  left: 1rem;
  background-color: #B82727;
  border-radius: 100%;
  position: absolute;
}

.active {
  background-color: var(--gb100);
  border-radius: 4px;
}

.disabled-item {
  opacity: 0.3;
  pointer-events: none;
}

.active-profile-settings-item {
  background-color: #F5F9FF;
  border-radius: 4px;
}


.dr-viai-support-icon {
  font-size: 2.4rem;
}


