<div [ngClass]="{'vc-sidebar-closed-container': !sidebarExpanded}" class="vc-sidebar-container">
  <div class="vc-sidebar-header">
    <img *ngIf="sidebarExpanded" alt="Collabro Portal" src="assets/images/collabro-logo.svg">

    <button (click)="doToggleSidebar()" mat-icon-button>
      <mat-icon [svgIcon]="'menu'"></mat-icon>
    </button>
  </div>

  <div class="vc-sidebar-items">
    <div class="vc-sidebar-top-items">

      <ng-container *ngFor="let menuItem of menuItems">
        <a *ngIf="menuItem?.controlName"
           [routerLink]="menuItem?.routerLink" (click)="selectItemMenu()"
           class="vc-menu-item" routerLinkActive="active">
          <mat-icon [svgIcon]="menuItem?.icon"
                    class="icon">
          </mat-icon>

          <p *ngIf="sidebarExpanded" class="vc-menu-item-label">{{menuItem.title | translate}}</p>

        </a>

        <a
          *ngIf="menuItem?.icon && !menuItem?.controlName && !menuItem?.children"
          [routerLink]="menuItem.routerLink"
          (click)="selectItemMenu()"
          class="vc-menu-item" routerLinkActive="active">
          <mat-icon [svgIcon]="menuItem.icon"
                    class="icon">
          </mat-icon>

          <div [ngClass]="{'w-100': sidebarExpanded}" class="d-flex">

            <p *ngIf="sidebarExpanded" class="vc-menu-item-label">{{menuItem.title | translate}}</p>

            <mat-icon
              *ngIf="!!menuItem?.tooltip && sidebarExpanded"
              matTooltip="{{'sideBar.doctorViTooltip' | translate}}"
              class="dr-viai-support-icon"
              matTooltipClass="wide-tooltip"
              matTooltipPosition="right"
              [svgIcon]="'support'">
            </mat-icon>
          </div>
        </a>
      </ng-container>
    </div>

    <div>
      <div *ngIf="sidebarExpanded" class="vc-menu-item">
        <button class="button-red" (click)="logout()" [disabled]="isLogoutProcessing"
                mat-raised-button>
          {{'sideBar.logoutLabel' | translate}}
        </button>
      </div>

      <div *ngIf="!sidebarExpanded" class="vc-menu-item">
        <button (click)="logout()" [disabled]="isLogoutProcessing">
          <mat-icon [svgIcon]="'log-out'"
                    class="icon">
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
