<div class="main-background">
  <div class="container">
    <span class="left-side-text"><span>No Worries.!</span></span>
    <div class="secondary-container">
      <span class="secondary-container-content"
        ><span>Take me back.!</span></span
      >
    </div>
    <div class="first-ellipse">
      <svg
        width="302"
        height="302"
        viewBox="0 0 302 302"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="151" cy="151" r="151" fill="url(#paint0_linear_1_122)" />
        <defs>
          <linearGradient
            id="paint0_linear_1_122"
            x1="151"
            y1="0"
            x2="151"
            y2="302"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#61003A" />
            <stop offset="1" stop-color="#2D0A30" />
          </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="second-ellipse">
      <svg
        width="221"
        height="221"
        viewBox="0 0 221 221"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="110.157"
          cy="110.157"
          r="110"
          transform="rotate(-28.5 110.157 110.157)"
          fill="url(#paint0_linear_1_123)"
        />
        <defs>
          <linearGradient
            id="paint0_linear_1_123"
            x1="110.157"
            y1="0.157387"
            x2="110.157"
            y2="220.157"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#61004B" />
            <stop offset="1" stop-color="#220A30" />
          </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="form-container">
      <div class="title-content">
        <div class="container-upper-section">
          <div class="container-reset-text">
            <span class="reset-text"><span>Forgot password?</span></span>
            <span class="secondary-text"
              ><span>Please enter you'r email</span></span
            >
          </div>
          <div class="container-credentials">
            <form>
              <app-input
                [inputStyleContext]="'email-input'"
                [inputPlaceholderContext]="'example@gmail.com'"
                [inputTypeContext]="'email'"
              ></app-input>
              <div class="reset-button-container">
                <app-button
                  [context]="context"
                  [styleContext]="styleContext"
                ></app-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
