<div class="page-wrapper">
  <div class="page-header">
    <div class="page-title">{{ 'sideBar.myProjectsLabel' | translate }}</div>
    <button (click)="navigateToCreateProject()"
            class="button-purple"
            mat-button>{{ 'myProject.createProjectLabel' | translate }}
    </button>
  </div>
  <div *ngIf="projects.length || isLoadingProjects else emptyState" class="overflow-y-hidden">
    <collabro-paginator class="max-h-100"
                        [flexDirection]="'row'"
                        [wrapper]="'grid'"
                        (loadDataEmitter)="loadingProjects(false)">
        <collabro-project-card *ngFor="let project of projects" [routerLink]="['/my-project', project.id]"
                               [project]="project" />
    </collabro-paginator>
  </div>
</div>

<ng-template #emptyState>
  <div class="d-flex h-100 overflow-auto flex-col justify-content-center align-items-center">
    <div class="preview-page">

      <h2 class="visit-title">
        <div class="d-block">{{ 'myProject.wouldYouLikeToCreateNewProjectLabel' | translate }}</div>
        <div>{{ 'myProject.ifYesClickCreateProjectLabel' | translate }}</div>
      </h2>

      <img src="assets/images/empty-states/my-project-empty-state.png" alt="myProject">

      <h3 class="visit-subtitle">{{ 'myProject.youHaveNotCreatedProjectLabel' | translate }}</h3>

      <button (click)="navigateToCreateProject()"
              class="button-purple big-button"
              mat-button>{{ 'myProject.createProjectLabel' | translate }}
      </button>
    </div>
  </div>
</ng-template>
