<div *ngIf="projects.length || isLoadingProjects else emptyState"
     [formGroup]="projectsFormGroup"
     class="projects-section-container">
  <div class="d-flex justify-content-space-between w-100 m-b-1-6">
    <div class="d-flex align-items-center flex-wrap column-gap-1 row-gap-1 m-b-1-6">
      <div class="projects-title">{{ 'projects.projectsLabel' | translate }}</div>
    </div>

    <div class="d-flex gap-8-px align-items-center">
      <div class="filter-button">
        <button mat-icon-button
                [matMenuTriggerFor]="filters"
                #filterMenu="matMenuTrigger">
          <mat-icon [svgIcon]="'filter'" />
        </button>

        <mat-menu #filters="matMenu" xPosition="before">
          <collabro-filter-projects [technologies]="technologies"
                                    [frameworks]="frameworks"
                                    [menuIsClosed]="menuIsClosed"
                                    [selectedTechnology]="projectsFormGroup.get('technologyIds')?.value"
                                    [selectedFramework]="projectsFormGroup.get('frameworkIds')?.value"
                                    [selectedProjectStatuses]="projectsFormGroup.get('projectStatuses').value"
                                    [selectedPaymentTypes]="projectsFormGroup.get('paymentTypes').value"
                                    (projectFilters)="applyFilters($event)" />
        </mat-menu>
      </div>

      <div class="small-icon-button">
        <mat-form-field appearance="outline" class="input-container-item-large search-filter">
          <mat-icon matPrefix [svgIcon]="'search'"></mat-icon>

          <input formControlName="searchTerm" [placeholder]="'general.searchLabel' | translate" matInput/>

          <button mat-icon-button
                  matSuffix
                  (click)="resetSearch()"
                  class="m-r-1"
                  *ngIf="projectsFormGroup.get('searchTerm')?.value">
            <mat-icon [svgIcon]="'close'"></mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="overflow-y-hidden">
    <collabro-paginator class="h-100"
                        [flexDirection]="'row'"
                        [wrapper]="'grid'"
                        (loadDataEmitter)="loadingProjects(false)">
      <collabro-project-card *ngFor="let project of projects"
                             [routerLink]="['/project', project?.id]"
                             [project]="project" />
    </collabro-paginator>
  </div>
</div>

<ng-template #emptyState>
  <div class="projects-section-container">
    <div class="d-flex h-100 align-items-center justify-content-center">
      <collabro-empty-state [title]="('emptyState.currentListOfProjectIsEmptyLabel' | translate)"
                            [subtitle]="('emptyState.projectOwnerNotCreatedProjectLabel' | translate)"/>

    </div>
  </div>
</ng-template>
