.projects-section-container {
  padding: 25px;
  color: azure;
  flex-direction: column;
  max-height: calc(100vh - 3.2rem);
  height: 100%;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #373639;
  background: #13161B;
  display: flex;
}

.projects-title {
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
  overflow: auto;
}
