<button
  [ngClass]="{
    'login-button': styleContext === 'login-button',
    'register-button': styleContext === 'register-button',
    'after-register-button': styleContext === 'after-register-button',
    'reset-button': styleContext === 'reset-button',
    'settings-button': styleContext === 'settings-button',
    'logout-button': styleContext === 'logout-button',
    'my-projects-button': styleContext === 'my-projects-button',
    'all-projects-button': styleContext === 'all-projects-button',
    'developers-button': styleContext === 'developers-button',
    'profile-button': styleContext === 'profile-button',
    'sidebar-logout-button': styleContext === 'sidebar-logout-button'
  }"
>
  {{ context }}
</button>
