<button
  [ngClass]="{
    'login-button': styleContext === 'login-button',
    'register-button': styleContext === 'register-button',
    'after-register-button': styleContext === 'after-register-button',
    'reset-button': styleContext === 'reset-button',
    'settings-button': styleContext === 'settings-button',
    'logout-button': styleContext === 'logout-button',
    'my-projects-button': styleContext === 'my-projects-button',
    'all-projects-button': styleContext === 'all-projects-button',
    'developers-button': styleContext === 'developers-button',
    'profile-button': styleContext === 'profile-button',
    'sidebar-logout-button': styleContext === 'sidebar-logout-button',
    'update-user-button': styleContext === 'update-user-button',
    'sign-up-text-button': styleContext === 'sign-up-text-button',
    'already-register-text-button': styleContext === 'already-register-text-button',
    'show-techs-button': styleContext === 'show-techs-button',
    'create-board-button': styleContext === 'create-board-button',
    'show-board-button': styleContext === 'show-board-button',
    'add-board-button': styleContext === 'add-board-button',
    'create-task-button': styleContext === 'create-task-button',
    'update-task-button': styleContext === 'update-task-button',
    'delete-task-button': styleContext === 'delete-task-button'
  }"
>
  {{ context }}
</button>
