<div class="modal-wrapper">
  <div class="page-title">{{ 'profileSettings.changeYouAddressLabel' | translate }}</div>

  <div class="input-container m-t-2-4">
    <mat-form-field appearance="outline" class="input-container-item-large">
      <mat-label>{{ 'profileSettings.countryLabel' | translate }}</mat-label>

      <mat-select>
        <mat-option *ngFor="let time of timeDurationListConstant"
                    [value]="time?.duration">
          {{ time?.label | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-container-item-large">
      <mat-label>{{ 'profileSettings.cityLabel' | translate }}</mat-label>

      <input matInput/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-container-item-large">
      <mat-label>{{ 'profileSettings.stateLabel' | translate }}</mat-label>

      <mat-select>
        <mat-option *ngFor="let time of timeDurationListConstant"
                    [value]="time?.duration">
          {{ time?.label | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="button-container justify-content-space-between w-100 flex-wrap">
      <button mat-dialog-close
              class="transparent-button"
              mat-button>
        {{ 'general.cancelLabel' | translate }}
      </button>

      <button class="button-purple"
              mat-button>
        {{ 'general.editLabel' | translate }}
      </button>
    </div>
  </div>
</div>
