.developer-profile-personal-info-wrapper {
  height: 100%;
  padding: 16px;

  .developer-general-info {
    background: #000000;
    width: 100%;
    justify-content: space-between;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    column-gap: 2rem;
    row-gap: 2rem;
  }

  .profile-avatar-container {
    .avatar-image-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1.5rem;
      column-gap: 2rem;
      row-gap: 2rem;
      position: relative;

      .avatar-image, .icon {
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .profile-fullName {
      color: #FCFBFD;

      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    .profile-address {
      color: #FCFBFD;

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.7;
    }
  }

  .personal-information-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2.4rem 0;
    background: var(--gb50);

    .personal-info-box {
      display: flex;
      border-radius: 20px;
      border: 1px solid var(--Border-for-elements, #373639);
      background: var(--Dark-Black, #0C0E12);
      padding: 25px;
      gap: 20px;

      &:not(:last-child) {
        padding-bottom: 1.6rem;
        margin-bottom: 1.6rem;
      }

      .info-box-description-wrapper {
        flex-grow: 1;
        flex-direction: column;
        padding-left: 0.8rem;
        padding-right: 0.8rem;


        .description-title {
          color: azure;
          font-size: 1.4rem;
          font-weight: 500;
          margin-bottom: 1.3rem;
          text-transform: uppercase;
        }

        .info-description {
          color:  #FCFBFD;
          font-size: 16px;
          font-weight: 400;
          opacity: 0.8;
        }
      }
    }
  }
}

.email-wrapper {
  display: flex;
  padding: 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  .email-header {
    color: #FCFBFD;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .email-input-wrapper {
    display: flex;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    border-radius: 8px;
    border: 1px solid var(--Border-for-elements, #373639);
    background: var(--Coal, #13161B);
  }

  .email-input-content {
    color: var(--White, #FCFBFD);

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .copy-icon {
    cursor: pointer;
  }
}

