<div class="developer-profile-personal-info-wrapper">
  <div
    class="developer-general-info-general-info align-items-center w-100 justify-content-space-between d-flex flex-wrap">
    <div class="profile-avatar-container d-flex">
      <div class="d-flex align-items-center">
        <div class="avatar-image-wrapper">
          <img class="avatar-image" *ngIf="false else emptyAvatar"
               alt="x">
          <ng-template #emptyAvatar>
            <mat-icon class="icon" [svgIcon]="'avatar-placeholder-icon'"></mat-icon>
          </ng-template>
        </div>

        <div>
          <span class="profile-fullName">{{ developer.firstName }} {{ developer.lastName }}</span>
          <span class="d-flex profile-address">
          <mat-icon class="user-location-icon" [svgIcon]="'location'"></mat-icon>
          <span>United States of America, AL, New York</span>
        </span>
        </div>
      </div>
    </div>
    <div class="email-wrapper">
      <div class="email-header">{{ 'developers.emailLabel' | translate }}</div>
      <div class="email-input-wrapper">
        <div class="email-input-content">{{ developer.email }}</div>
        <mat-icon class="copy-icon"
                  (click)="copyEmail(developer.email)"
                  [svgIcon]="'copy'" />
      </div>
    </div>
  </div>

  <div class="m-t-2">
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
  </div>


  <div class="personal-information-wrapper">

    <div class="personal-info-box">
      <div class="info-box-description-wrapper d-flex">
        <span class="description-title">{{ 'technologies.technologiesLabel' | translate }}</span>
        <div class="d-flex column-gap-0-4 flex-wrap row-gap-0-4">
          <div class="technology-item-container"
               *ngFor="let item of technologiesListConstant">
            {{ item.name | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="personal-info-box">
      <div class="info-box-description-wrapper d-flex">
        <span class="description-title">{{ 'frameworks.frameworksLabel' | translate }}</span>
        <div class="d-flex column-gap-0-4 flex-wrap row-gap-0-4">
          <div class="technology-item-container"
               *ngFor="let item of frameworkListConstant">
            {{ item.name | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="personal-info-box">
      <div class="info-box-description-wrapper d-flex">
        <span class="description-title">{{ 'developers.bioLabel' | translate }}
          ({{ 'developers.aboutLabel' | translate }})</span>
        <span class="info-description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</span>
      </div>
    </div>
  </div>
</div>
