<div class="project-page-wrapper">
  <mat-tab-group animationDuration="0ms"
                 mat-stretch-tabs="false"
                 mat-align-tabs="start"
                 [(selectedIndex)]="tabIndex"
                 (selectedTabChange)="selectedTabChange()"
                 class="h-100">
    <mat-tab label="{{'myProject.summaryLabel' | translate}}">
      <collabro-project-overview-section [currentUser]="user"
                                         [project]="project"
                                         (loadProject)="getProject()"/>
    </mat-tab>

    <mat-tab label="{{'myProject.teamLabel' | translate}}">
      <collabro-project-team-section [projectId]="project?.id"
                                     [developers]="developers"
                                     (projectDevelopersUpdated)="getProjectDevelopers()" />
    </mat-tab>

    <mat-tab class="overflow-auto" label="{{'myProject.boardLabel' | translate}}">
      <collabro-project-board-section [projectId]="project?.id"
                                      [developers]="developers"
                                      [projectTasks]="projectTasks"
                                      [backlogTasks]="backlogTasks"
                                      [todoTasks]="todoTasks"
                                      [qaTasks]="qaTasks"
                                      [inProgressTasks]="inProgressTasks"
                                      [doneTasks]="doneTasks"
                                      [currentUser]="user"
                                      (projectTasksUpdated)="getProjectTasks()" />
    </mat-tab>

    <mat-tab label="{{'myProject.requestsLabel' | translate}}">
      <collabro-project-requests-section [projectId]="project?.id"
                                         [projectRequests]="projectRequests"
                                         (projectRequestsUpdated)="getProjectRequests()" />
    </mat-tab>


  </mat-tab-group>
</div>
