.mat-sidebar-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0C0E12;
}

.vc-sidebar {
  display: flex !important;
  flex-direction: column;


  &-content {
    height: 100%;
  }
}

::ng-deep {
  .mat-drawer {
    &.mat-drawer-side, &.mat-drawer-over, &.mat-drawer-push {
      transform: translate3d(calc(-100% + 8rem), 0, 0);
      visibility: visible !important; // always visible
    }
  }

  .mat-drawer-content {
    margin-left: 7rem;
  }
}
