<div class="project-page-wrapper">
  <div class="box-wrapper">
    <div class="project-type m-t-0-8">{{ project.type | projectTypeLabel | translate }}</div>

    <div class="d-flex justify-content-space-between align-items-center">
      <div class="project-title">{{ project.title }}</div>
      <div>
        <span class="project-price">${{ project.payment | currency:' ':'symbol':'3.0-0' }}</span>
        <span class="hour-label">{{ 'myProject.perHourLabel' | translate }}</span>
      </div>
    </div>

    <div class="project-time-duration-wrapper">
      <div class="d-flex align-items-center">
        <mat-icon [svgIcon]="'project-duration-icon'"/>
        <div class="time-duration-label">{{ project.timeDuration | timeDurationLabel | translate }}</div>
      </div>

      <div class="d-flex align-items-center">
        <mat-icon [svgIcon]="'calendar'"/>
        <div class="date-label">{{ project.createdTimeStamp | localDate }}</div>
      </div>
    </div>

    <div class="project-details-wrapper">
      <div class="details-header">{{ 'myProject.overviewLabel' | translate }}</div>
      <div class="details-content">{{ project.projectDetails }}</div>
    </div>

  </div>
  <div class="box-wrapper">
    <div class="project-technologies-wrapper">
      <div class="project-item-header">{{ 'technologies.technologiesLabel' | translate }}</div>
      <div class="technology-item-wrapper">
        <div class="technology-item-container"
             *ngFor="let item of project.technologies">
          {{ item.technology | translate }}
        </div>
      </div>
    </div>

    <div class="project-technologies-wrapper">
      <div class="project-item-header">{{ 'frameworks.frameworksLabel' | translate }}</div>
      <div class="technology-item-wrapper">
        <div class="technology-item-container"
             *ngFor="let item of project.frameworks">
          {{ item.framework | translate }}
        </div>
      </div>
    </div>

    <div *ngIf="user.roleName === applicationRoleEnum.Dev"
         class="d-flex h-100 justify-content-flex-end">
      <button class="button-purple big-button"
              (click)="sendRequestForJoiningTheProject()"
              mat-button>{{ 'general.sendRequestLabel' | translate }}
      </button>
    </div>
  </div>
</div>
