<div *ngIf="projects.length || isLoadingProjects else emptyState">
  <collabro-paginator class="h-100">
    <div class="projects-wrapper"
         *ngFor="let project of projects">
      <collabro-project-card [routerLink]="['/my-project', project.id]"
                             [project]="project" />
    </div>
  </collabro-paginator>
</div>

<ng-template #emptyState>
  <div class="d-flex h-100 overflow-auto flex-col justify-content-center align-items-center">
    <div class="preview-page">

      <h2 class="visit-title">
        <div class="d-block">{{ 'myProject.wouldYouLikeToCreateNewProjectLabel' | translate }}</div>
        <div>{{ 'myProject.ifYesClickCreateProjectLabel' | translate }}</div>
      </h2>

      <img src="/assets/images/empty-states/my-project-empty-state.png" alt="myProject">

      <h3 class="visit-subtitle">{{ 'myProject.youHaveNotCreatedProjectLabel' | translate }}</h3>

      <button (click)="navigateToCreateProject()"
              class="button-purple big-button"
              mat-button>{{ 'myProject.createProjectLabel' | translate }}
      </button>
    </div>
  </div>
</ng-template>
