.developers-section-container {
  padding: 2.4rem;
  color: azure;
  height: 100%;
}

.developers-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
  overflow: auto;

  .allergy-item {
    width: calc(50% - 1.2rem);
  }
}
