<app-sidebar></app-sidebar>

<app-header></app-header>


<div class="developers-container">
  <div class="devs">
    <p-table
      [value]="developers"
      [lazy]="true"
      (onLazyLoad)="loadDevelopers($event)"
      [globalFilterFields]="['Payment']"
      [totalRecords]="totalRecords"
      [paginator]="true"
      [rows]="paginationFilter.pageSize"
      [first]="paginationFilter.pageNumber"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[15]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width:33%">First Name</th>
          <th style="width:33%">Last Name
          </th>
          <th style="width:33%">Technologies</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-developer>
        <tr (click)="onDeveloperClick(developer)">
          <td class="cursor-style" (click)="showAddingDevDialog()">{{ developer.firstName }}</td>
          <td class="cursor-style" (click)="showAddingDevDialog()">{{ developer.lastName }}</td>
          <td>
            <app-button [styleContext]="'show-techs-button'" [context]="'...'"
                        (click)="showDialog(developer.technologies)"></app-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog header="Technologies" [(visible)]="visible" [style]="{width: '20vw'}">
  <p-table [value]="technologies" [tableStyle]="{ 'min-width': '20rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Technology</th>
        <th>Framework</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tech>
      <tr>
        <td>{{ tech.technology }}</td>
        <td>{{ tech.framework }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>

<div *ngIf="user.roleName == 'ProjectOwner'">
  <p-dialog header="Want to add on the project?" [(visible)]="addDevVisible" [style]="{width: '25vw', height: '23vw'}">

    <div class="card flex justify-content-center">
      <p-dropdown
        [options]="projectDropDownItems"
        [(ngModel)]="selectedProjects"
        optionLabel="title"
        [filter]="true"
        filterBy="title"
        [showClear]="true"
        placeholder="Select a Project"
        (onChange)="onProjectClick($event.value)"
      >
        <ng-template let-selectedOption pTemplate="selectedProjects">
          <div class="flex align-items-center gap-2">
            <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                 [class]="'flag flag-' + selectedOption.title.toLowerCase()" style="width: 18px"/>
            <div>{{ selectedOption.title }}</div>
          </div>
        </ng-template>
        <ng-template let-project pTemplate="item">
          <div class="flex align-items-center gap-2">
            <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                 [class]="'flag flag-' + project.title.toLowerCase()" style="width: 18px"/>
            <div>{{ project.title }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>

    <app-button [styleContext]="'add-dev-button'" [context]="'Add'" (click)="addDev()"></app-button>
    <app-button [styleContext]="'get-dev-button'" [context]="'Profile'"
                [routerLink]="'/developer/' + selectedDeveloper?.id"></app-button>

  </p-dialog>
</div>

<div class="secondary-container">
  <span class="secondary-container-content">Technology stack</span>
  <app-chart></app-chart>
</div>
