<div class="container">
  <div class="content-container">
    <div class="content">
      <h1>Unfortunately, email confirmation did not happen!</h1>
      <p>We could not verify your email address..</p>
      <p>Try again later.</p>

      <span class="secondary-text">Wait for 3 seconds for redirection</span>
    </div>
  </div>
  <div class="first-ellipse">
    <svg width="302" height="302" viewBox="0 0 302 302" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="151" cy="151" r="151" fill="url(#paint0_linear_4108_6)"/>
      <defs>
        <linearGradient id="paint0_linear_4108_6" x1="151" y1="0" x2="151" y2="302" gradientUnits="userSpaceOnUse">
          <stop stop-color="#8B0000"/>
          <stop offset="1" stop-color="#2D0A30"/>
        </linearGradient>
      </defs>
    </svg>

  </div>
  <div class="second-ellipse">
    <svg width="225" height="225" viewBox="0 0 225 225" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="112.5" cy="112.5" r="112.5" fill="url(#paint0_linear_4108_49)"/>
      <defs>
        <linearGradient id="paint0_linear_4108_49" x1="112.5" y1="0" x2="112.5" y2="225" gradientUnits="userSpaceOnUse">
          <stop stop-color="#8B0000"/>
          <stop offset="1" stop-color="#2D0A30"/>
        </linearGradient>
      </defs>
    </svg>

  </div>
</div>
