.item-wrapper {
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 20px;

  &-container {
    border: 1px solid #373639;
    background-color: #0C0E12;
    padding: 10px 60px 60px 60px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
  }

  .item-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2.4rem;
    border-radius: 10px;
    column-gap: 2rem;
    row-gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 2.4rem;
    gap: 20px;
    justify-content: center;

    &-placeholder {
      height: 145px;
      width: 145px;
      background: #DFE7F5;
      border: 1px dashed #BBC5D8;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      &-icon {
        width: 3.2rem;
        height: 3.2rem;
        font-size: 3.2rem;
      }

      .avatar-photo {
        height: 100%;
      }
    }
  }

  .profile-info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .item-title {
      color: #FFF;
      font-size: 24px;
      font-weight: 600;
    }

    .item-content {
      color: #FCFBFD;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .bio-container {
    max-height: 100%;
    width: 100%;
    border: 1px solid #373639;
    background-color: #0C0E12;
    padding: 20px;
    border-radius: 20px;
    color: #FCFBFD;
    font-size: 16px;
    font-weight: 400;
  }

}
