@import "../../../../styles/variables";

.card-item {
  border-radius: 16px;
  background: #22262F;
  padding: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &-header {
    color: #FCFBFD;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &-label {
    border-radius: 14px;
    background: rgba(86, 68, 223, 0.20);
    padding: 2px 12px;
    width: fit-content;

    color: #5644DF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &-assigned-user {

  }
}
