<div class="page-wrapper overflow-auto">
  <mat-tab-group animationDuration="0ms"
                 mat-stretch-tabs="false"
                 mat-align-tabs="start"
                 [(selectedIndex)]="tabIndex"
                 (selectedTabChange)="selectedTabChange()"
                 class="h-100 overflow-auto">
    <mat-tab label="{{'admin.project-owner.profileLabel' | translate}}">
      <ng-container *ngIf="projectOwner">
        <collabro-project-owners-profile
          [projectOwner]="projectOwner"
        ></collabro-project-owners-profile>
      </ng-container>
    </mat-tab>

    <mat-tab label="{{'developers.feedbacksLabel' | translate}}">
      <collabro-paginator class="h-100">
        <collabro-developer-comments [feedbacks]="developerFeedbacks"
                                     [currentUser]="user"
                                     [projectOwnerId]="projectOwnerId"
                                     [imageData]="imageData" />
      </collabro-paginator>
    </mat-tab>

    <mat-tab *ngIf="user?.roleName === roleName.Admin"
             label="{{'admin.project-owner.ownFeedbacksLabel' | translate}}">
      <div class="tab-wrapper">
        <collabro-paginator [flexDirection]="'column'" class="h-100">
          <div *ngFor="let feedback of feedbacks">
            <div class="feedback-wrapper">
              <div class="d-flex w-100 align-items-center justify-content-space-between">
                <div class="date">{{ feedback.createdTimeStamp | localDate: 'shortDate' }}</div>
                <button mat-icon-button
                        matSuffix
                        *ngIf="user?.roleName === roleName.Admin"
                        (click)="deleteFeedback(feedback.id)"
                        class="m-r-1">
                  <mat-icon [svgIcon]="'delete'"></mat-icon>
                </button>
              </div>
              <div class="content">{{ feedback.content }}</div>
            </div>
          </div>
        </collabro-paginator>
      </div>
    </mat-tab>

    <mat-tab *ngIf="user.roleName === roleName.Admin" label="{{'admin.project-owner.projectsLabel' | translate}}">
      <div class="tab-wrapper">
        <collabro-paginator [flexDirection]="'row'"
                            [wrapper]="'grid'"
                            class="h-100">
          <div class="developers-wrapper"
               *ngFor="let project of projects">
            <collabro-project-card
              [project]="project"
              [routerLink]="['/project', project?.id]"/>
          </div>
        </collabro-paginator>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
