@import "materials-override";
@import "variables";
@import "input";
@import "button";
@import "helper";

/* You can add global styles to this file, and also import other style files */
html {
  font-size: 10px;
  height: 100%;
  background-color: #0C0E12 !important;
}

body {
  font-family: Noto Sans;
  height: 100%;
  background-color: #0C0E12 !important;
}

.page-wrapper {
  padding: 40px;
  color: azure;
  border-radius: 20px;
  border: 1px solid #373639;
  background: #13161B;
  min-height: calc(100vh - 3.2rem);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: 25px;
  }

  &::-webkit-scrollbar-track {
    background: #DFE7F5;
  }

  &::-webkit-scrollbar-thumb {
    background: #A4B1B1;
    border-radius: 25px;
    transition: 0.5s ease-in;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #A2A2A4;
    transition: 0.5s ease-in;
  }
}

@import url("https://fonts.googleapis.com/css?family=Noto Sans");
@import url("https://fonts.googleapis.com/css?family=Aldrich");
@import url("https://fonts.googleapis.com/css?family=Open Sans");

.validate-content {
  color: red;
}

// snackbar
.snackbar-success {
  background-color: #E8FFF0;
  color: #262C38;
}

.snackbar-error {
  background-color: #FFC9C9;
  color: #262C38;
}

.technology-item-container {
  display: flex;
  height: 38px;
  padding: 8px 14px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #FCFBFD;

  border-radius: 8px;
  border: 1px solid #373639;
}

.filter-menu {
  padding: 1.6rem 2.4rem 2.4rem 2.4rem;
  background: #0C0E12;

  .filter-title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 3.2rem;
    color: #FCFBFD;
  }

  .filter-label {
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #FCFBFD;
    padding: 2.5rem 0 1rem 0;
    text-transform: uppercase;
  }

  .input-container-item-large {
    width: 32rem;
    height: 5rem;
  }

  .filter-button {
    margin-top: 2.5rem;
  }
}

