@import "materials-override";
@import "variables";
@import "input";
@import "button";
@import "helper";

/* You can add global styles to this file, and also import other style files */
html {
  font-size: 10px;
  height: 100%;
  background-color: #26292B !important;
}

body {
  font-family: Noto Sans;
  height: 100%;
  background-color: #26292B !important;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: 25px;
  }

  &::-webkit-scrollbar-track {
    background: #DFE7F5;
  }

  &::-webkit-scrollbar-thumb {
    background: #A4B1B1;
    border-radius: 25px;
    transition: 0.5s ease-in;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #A2A2A4;
    transition: 0.5s ease-in;
  }
}

@import url("https://fonts.googleapis.com/css?family=Noto Sans");
@import url("https://fonts.googleapis.com/css?family=Aldrich");
@import url("https://fonts.googleapis.com/css?family=Open Sans");

.validate-content {
  color: red;
}

// snackbar
.snackbar-success {
  background-color: #E8FFF0;
  color: #262C38;
}

.snackbar-error {
  background-color: #FFC9C9;
  color: #262C38;
}
