// colors
$color-blue-disabled: rgba(39, 110, 241, 0.45);
$color-green-disabled: rgba(46, 195, 97, 0.45);
$button-shadow: 0 1px 1px rgba(0, 0, 0, 0.14);

$input-border-color: #5C4FB5;

$main-purple-color: #5C4FB5;
