.board-wrapper {
  display: flex;
  overflow: auto;
  padding: 20px;
  gap: 1rem;

  .board-column-wrapper {
    height: 100%;
    background: #0C0E12;
    border: 1px solid #373639;
    border-radius: 15px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    width: 250px;

    .column-header {
      font-weight: 500;
      font-size: 2.4rem;
      line-height: 32px;
    }
  }
}

::ng-deep {
  .mat-mdc-tab-body-wrapper {
    overflow: auto;
  }
}
