<div class="main-background">
  <div class="container">
    <span class="left-side-text"><span>Welcome to Collabro</span></span>
    <div class="secondary-container-1">
      <span class="secondary-container-content"
      ><span>project owner</span></span
      >
    </div>
    <div class="secondary-container-2">
      <span class="secondary-container-content"><span>programmer</span></span>
    </div>
    <div class="first-ellipse">
      <svg
        width="302"
        height="302"
        viewBox="0 0 302 302"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="151" cy="151" r="151" fill="url(#paint0_linear_1_8)"/>
        <defs>
          <linearGradient
            id="paint0_linear_1_8"
            x1="151"
            y1="0"
            x2="151"
            y2="302"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#190061"/>
            <stop offset="1" stop-color="#0A1B30"/>
          </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="second-ellipse">
      <svg
        width="221"
        height="221"
        viewBox="0 0 221 221"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="110.157"
          cy="110.157"
          r="110"
          transform="rotate(-28.5 110.157 110.157)"
          fill="url(#paint0_linear_1_9)"
        />
        <defs>
          <linearGradient
            id="paint0_linear_1_9"
            x1="110.157"
            y1="0.157387"
            x2="110.157"
            y2="220.157"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#000F61"/>
            <stop offset="1" stop-color="#0A1730"/>
          </linearGradient>
        </defs>
      </svg>
    </div>

    <div class="form-container">
      <div class="title-content">
        <div class="container-upper-section">
          <div class="container-register-text">
            <span class="register-text"><span>Sign Up</span></span>
            <span class="secondary-register-text">
              <span>Just some details to get you in.!</span>
            </span>
          </div>
          <div class="container-credentials">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
<!--              <app-input-->
<!--                [inputStyleContext]="'username-input'"-->
<!--                [inputTypeContext]="'text'"-->
<!--                [inputPlaceholderContext]="'Username'"-->
<!--              ></app-input>-->

              <input class="username-input" type="text" placeholder="Username" formControlName="username">
              <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
                <div *ngIf="registerForm.get('username')?.errors?.['required']" class="validate-content">Username is
                  required.
                </div>
              </div>
              <!--              <app-input-->
              <!--                [inputStyleContext]="'email-input'"-->
              <!--                [inputTypeContext]="'email'"-->
              <!--                [inputPlaceholderContext]="'Email'"-->
              <!--              ></app-input>-->
              <input class="email-input" type="email" placeholder="Email" formControlName="email">
              <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
                <div *ngIf="registerForm.get('email')?.errors?.['required']" class="validate-content">Email is
                  required.
                </div>
                <div *ngIf="registerForm.get('email')?.errors?.['email']" class="validate-content">Invalid email
                  format.
                </div>
              </div>
              <div class="container-password-rem">
                <!--                <app-input-->
                <!--                  [inputStyleContext]="'password-input'"-->
                <!--                  [inputTypeContext]="'password'"-->
                <!--                  [inputPlaceholderContext]="'Password'"-->
                <!--                ></app-input>-->
                <input class="password-input" type="password" placeholder="Password" formControlName="password">
                <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                  <div *ngIf="registerForm.get('password')?.errors?.['required']" class="validate-content">Password is
                    required.
                  </div>
                </div>

                <!--                <app-input-->
                <!--                  [inputStyleContext]="'confirm-password-input'"-->
                <!--                  [inputTypeContext]="'password'"-->
                <!--                  [inputPlaceholderContext]="'Confirm password'"-->
                <!--                ></app-input>-->

                <input class="password-input" type="password" placeholder="Confirm password" formControlName="password">
                <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                  <div *ngIf="registerForm.get('password')?.errors?.['required']" class="validate-content">Password is
                    required.
                  </div>
                </div>
              </div>
              <div class="register-button-container">
                <app-button
                  [styleContext]="'register-button'"
                  [context]="'Sign up'"
                  type="submit"
                  [disabled]="registerForm.invalid"
                ></app-button>
              </div>
            </form>
          </div>
        </div>
        <div class="other-logins">
          <div class="container-or">
            <div class="container-line1">
              <svg
                width="170"
                height="2"
                viewBox="0 0 170 2"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <line
                  x1="1"
                  y1="1"
                  x2="169"
                  y2="1"
                  stroke="#4D4D4D"
                  stroke-width="2"
                  stroke-linecap="round"
                />
              </svg>
            </div>
            <span class="text-or">Or</span>
            <div class="container-line2">
              <svg
                width="170"
                height="2"
                viewBox="0 0 170 2"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <line
                  x1="1"
                  y1="1"
                  x2="169"
                  y2="1"
                  stroke="#4D4D4D"
                  stroke-width="2"
                  stroke-linecap="round"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <span class="already-register-text">
        <span>Already registered? Login</span>
      </span>
    </div>
    <button class="button-switch"></button>
  </div>
</div>
