<input [ngClass]="{
    'email-input': inputStyleContext === 'email-input',
    'password-input': inputStyleContext === 'password-input',
    'username-input': inputStyleContext === 'username-input',
    'fname-input': inputStyleContext === 'fname-input',
    'lname-input': inputStyleContext === 'lname-input',
    'confirm-password-input': inputStyleContext === 'confirm-password-input'
  }"
       [placeholder]="
    inputPlaceholderContext === 'example@gmail.com'
      ? 'example@gmail.com'
      : inputPlaceholderContext === 'Email'
      ? 'Email'
      : inputPlaceholderContext === 'Password'
      ? 'Password'
      : inputPlaceholderContext === 'Username'
      ? 'Username'
      : inputPlaceholderContext === 'First Name'
      ? 'First Name'
      : inputPlaceholderContext === 'Confirm password'
      ? 'Confirm password'
      : inputPlaceholderContext === 'Last Name'
      ? 'Last Name'
      : 'None'
  "
       [type]="inputTypeContext"
       formControlName="inputFormControlName" />