<div *ngIf="projects.length || isLoadingProjects else emptyState" class="projects-section-container">
  <div class="d-flex w-100 flex-wrap column-gap-0-4 m-b-1-6">
    <mat-form-field
      appearance="outline"
      class="input-container-item-one-of-two">
      <mat-label>Test</mat-label>
      <mat-select>
        <mat-option>
          Test1
        </mat-option>
        <mat-option>
          Test2
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-container-item-one-of-two">
      <mat-label>Test</mat-label>
      <input matInput/>
    </mat-form-field>
  </div>

  <div class="projects-wrapper">
    <collabro-paginator class="h-100">
      <collabro-project-card *ngFor="let project of projects"
                             [routerLink]="['/project', project?.id]"
                             [project]="project" />
    </collabro-paginator>
  </div>
</div>

<ng-template #emptyState>
  <div class="d-flex h-100 align-items-center justify-content-center">
    <collabro-empty-state [title]="('emptyState.currentListOfProjectIsEmptyLabel' | translate)"
                          [subtitle]="('emptyState.projectOwnerNotCreatedProjectLabel' | translate)"/>

  </div>
</ng-template>
