<div class="projects-section-container">
  <div class="d-flex w-100 flex-wrap column-gap-0-4 m-b-1-6">
    <mat-form-field
      appearance="outline"
      class="input-container-item-one-of-two">
      <mat-label>Test</mat-label>
      <mat-select>
        <mat-option>
          Test1
        </mat-option>
        <mat-option>
          Test2
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-container-item-one-of-two">
      <mat-label>Test</mat-label>
      <input matInput/>
    </mat-form-field>
  </div>

  <div class="projects-wrapper">
    <collabro-project-card />
    <collabro-project-card />
    <collabro-project-card />
    <collabro-project-card />
    <collabro-project-card />
    <collabro-project-card />
    <collabro-project-card />
    <collabro-project-card />
  </div>
</div>
