<div class="modal-wrapper" [formGroup]="userPersonalInfoFormGroup">
  <div class="page-title">{{ 'profileSettings.updatePersonalInfoLabel' | translate }}</div>

  <div class="input-container m-t-2-4">
    <mat-form-field appearance="outline" class="input-container-item-large">
      <mat-label>{{ 'profileSettings.firstNameLabel' | translate }}</mat-label>

      <input formControlName="firstName" matInput/>

      <collabro-control-validation-message [control]="userPersonalInfoFormGroup.get('firstName')" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-container-item-large">
      <mat-label>{{ 'profileSettings.lastNameLabel' | translate }}</mat-label>

      <input formControlName="lastName" matInput/>

      <collabro-control-validation-message [control]="userPersonalInfoFormGroup.get('lastName')" />
    </mat-form-field>

    <mat-form-field class="w-100 textarea" appearance="outline">
      <textarea class="text-area"
                formControlName="bio"
                matInput
                rows="5">
      </textarea>
    </mat-form-field>

    <div class="button-container justify-content-space-between w-100 flex-wrap">
      <button mat-dialog-close
              class="transparent-button"
              mat-button>
        {{ 'general.cancelLabel' | translate }}
      </button>

      <button class="button-purple"
              (click)="updateUserPersonalInfo()"
              mat-button>
        {{ 'general.saveLabel' | translate }}
      </button>
    </div>
  </div>
</div>
