<p-toast></p-toast>

<div class="wrapper">
  <div class="left-container">

    <div class="container-items">
      <h1 class="title">Welcome to Collabro</h1>

      <div class="choice-container">
        <div class="subtitle-container">
          <h2 class="subtitle">project owner</h2>
        </div>
        <div class="subtitle-container">
          <h2 class="subtitle">developer</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="right-container">
    <div class="form">
      <div class="form-container">
        <div class="form-text-container">
          <div class="form-title"> Sign Up </div>
          <div class="form-subtitle"> Just some details to get you in! </div>
        </div>

        <div class="input-container">
          <input class="input-element" placeholder="First Name">
        </div>

        <div class="input-container">
          <input class="input-element" placeholder="Last Name">
        </div>

        <div class="input-container">
          <input class="input-element" placeholder="Email">
        </div>

        <div class="input-container">
          <input class="input-element"
                 matInput
                 placeholder="Password" />
        </div>

        <div class="input-container">
          <input class="input-element"
                 matInput
                 placeholder="Confirm Password" />
        </div>

        <div class="input-container">
          <button class="login-button"> Login </button>
        </div>

        <div class="divider">
          <div class="divider-left"></div>
          <div class="divider-text">Or</div>
          <div class="divider-right"></div>
        </div>

        <div class="footer-container">
          <a class="transparent-button">Already registered? Login</a>
        </div>
      </div>

    </div>
  </div>
</div>
