
<div class="wrapper">
  <div class="left-container">

    <div class="container-items">
      <h1 class="title">{{ "authPages.registerPage.welcomeToCollabroLabel" | translate }}</h1>

      <div class="choice-container">
        <div class="subtitle-container">
          <h2 class="subtitle">project owner</h2>
        </div>
        <div class="subtitle-container">
          <h2 class="subtitle">developer</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="right-container">
    <div class="form">
      <div class="form-container">
        <div class="form-text-container">
          <div class="form-title">{{ "authPages.registerPage.signUpLabel" | translate }}</div>
          <div class="form-subtitle">{{ "authPages.registerPage.justSomeDetailsLabel" | translate }}</div>
        </div>

        <div class="input-container">
          <input class="input-element" placeholder="First Name">
        </div>

        <div class="input-container">
          <input class="input-element" placeholder="Last Name">
        </div>

        <div class="input-container">
          <input class="input-element" placeholder="Email">
        </div>

        <div class="input-container">
          <input class="input-element"
                 matInput
                 placeholder="Password"/>
        </div>

        <div class="input-container">
          <input class="input-element"
                 matInput
                 placeholder="Confirm Password"/>
        </div>

        <div class="input-container">
          <button class="login-button">{{ "authPages.registerPage.signUpLabel" | translate }}</button>
        </div>

        <div class="divider">
          <div class="divider-left"></div>
          <div class="divider-text">{{ "authPages.registerPage.orLabel" | translate }}</div>
          <div class="divider-right"></div>
        </div>

        <div class="footer-container">
          <a class="transparent-button">{{ "authPages.registerPage.alreadyRegisteredLabel" | translate }}</a>
        </div>
      </div>

    </div>
  </div>
</div>
