.wrapper {
  display: flex;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 200px;
  overflow: auto;
  background-color: #000000;
}

.left-container {
  width: 50%;
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 60px 32px;
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding: 20px 32px 10px 32px;
  overflow: auto;


  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.container-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: #ffffff;
  font-size: 76px;
  font-weight: 500;
  line-height: 52px;
}

.subtitle-container {
  border-color: azure;
  border-style: solid;
  border-width: 4px;
  padding: 4px;
  margin-top: 14px;

  .subtitle {
    color: #ffffff;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 450px;

  &-text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: start;
  }

  &-title {
    font-size: 28px;
    font-weight: 400;
    line-height: 45px;
    text-align: center;
    align-items: start;
    margin-bottom: 6px;
    color: #FFFFFF;
  }

  &-subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 8px;
    color: #FFFFFF;
  }
}

.form-container {
  align-items: center;
  width: 100%;
  padding: 12px;

  box-shadow: -8px 4px 5px 0px rgba(0, 0, 0, 0.23999999463558197);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.14)),
  linear-gradient(
      321.23deg,
      rgba(191, 191, 191, 0.062) 5.98%,
      rgba(0, 0, 0, 0) 66.28%
  );

  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .input-element {
    background-color: rgba(0, 0, 0, 0.081);
    color: azure;
    display: flex;
    padding: 14px 16px;
    font-size: 20px;
    text-align: left;
    align-items: center;
    font-family: "Noto Sans";
    font-weight: 400;
    border-color: azure;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    margin-top: 20px;
  }

  .login-button {
    width: 100%;
    padding: 14px 10px;
    background: linear-gradient(
        142deg,
        rgba(97, 141, 255, 1) 0%,
        rgba(134, 64, 205, 1) 53%,
        rgba(87, 3, 116, 1) 100%
    );
    border-radius: 12px;
    color: azure;
    height: auto;
    margin-top: 20px;
    font-size: 20px;
    font-style: SemiBold;
    font-family: "Noto Sans";
    font-weight: 600;
  }
}

.divider {
  margin: 55px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .divider-left, .divider-right {
    width: 45%;
    height: 2px;
    background-color: #FFFFFF;
  }

  .divider-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    color: #FFFFFF;
  }
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .transparent-button {
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 12px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
  }
}

@media (max-width: 1920px) {
  .wrapper {
    background-size: 225px;
  }

  .form {
    &-title {
      font-size: 24px;
      line-height: 38px;
    }

    &-subtitle {
      font-size: 16px;
      line-height: 20px;
    }

  }

    .divider {
      margin: 40px 0;
    }
}

@media (max-width: 1620px) {
  .divider {
    margin: 30px 0;
  }

  .form {
    width: 100%;

    &-title {
      font-size: 22px;
      line-height: 32px;
    }

    &-subtitle {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

@media (max-width: 1170px) {
  .wrapper {
    .title {
      font-size: 42px;
      line-height: 32px;
    }

    .subtitle {
      font-size: 38px;
      line-height: 28px;
    }
  }
}

@media (max-width: 920px) {
  .wrapper {
    .left-container {
      gap: 0;
    }
    .title {
      font-size: 32px;
      line-height: 32px;
    }

    .subtitle {
      font-size: 18px;
      line-height: 28px;
    }

    .form {
      width: 350px;
    }
  }
}

@media (max-width: 750px) {
  .wrapper {
    flex-direction: column;
    height: 100%;
    overflow: auto;
    justify-content: center;
    align-items: center;

    .left-container {
      width: 100%;
      align-items: center;
    }

    .right-container {
      width: 100%;
    }

    .form {
      width: 100%;
    }

    .container-items {
      width: 100%;
    }
  }
}

@media(max-height: 390px) {
  .form {
    justify-content: flex-start;
    width: 100%;
  }
}
