<p-toast></p-toast>

<div class="main-background">
  <div class="container">
    <span class="left-side-text"><span>Long time no see!</span></span>
    <div class="secondary-container">
      <span class="left-side-secondary-text"><span>Collabro</span></span>
    </div>
    <div class="first-ellipse">
      <svg
        width="302"
        height="302"
        viewBox="0 0 302 302"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="151" cy="151" r="151" fill="url(#paint0_linear_1_66)"/>
        <defs>
          <linearGradient
            id="paint0_linear_1_66"
            x1="151"
            y1="0"
            x2="151"
            y2="302"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#530061"/>
            <stop offset="1" stop-color="#0D0A30"/>
          </linearGradient>
        </defs>
      </svg>
    </div>

    <div class="second-ellipse">
      <svg
        width="222"
        height="222"
        viewBox="0 0 222 222"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="111"
          cy="111"
          r="110"
          transform="rotate(-28.5 111 111)"
          fill="url(#paint0_linear_1_67)"
        />
        <defs>
          <linearGradient
            id="paint0_linear_1_67"
            x1="111"
            y1="1.00004"
            x2="111"
            y2="221"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#300061"/>
            <stop offset="1" stop-color="#0A1030"/>
          </linearGradient>
        </defs>
      </svg>
    </div>

    <div class="form-container">
      <div class="title-content">
        <div class="container-upper-section">
          <div class="container-logintext">
            <span class="main-text"><span>Login</span></span>
            <span class="secondary-text">
              <span>Glad you're back.!</span>
            </span>
          </div>
          <div class="form-credentials">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <input class="email-input" type="email" placeholder="Email" formControlName="email">
              <div class="container-password-rem">
                <input class="password-input" type="password" placeholder="Password" formControlName="password">
                <div class="container-rem">
                  <input type="checkbox" class="checkbox-button"/>
                  <span class="rem-text">
                    <span>Remember me</span>
                  </span>
                </div>
              </div>
              <div class="container-login-button">
                <app-button
                  [styleContext]="'login-button'"
                  [context]="'Login'"
                  type="submit"
                  [disabled]="loginForm.invalid"
                ></app-button>
                <span class="forgot-password-text">
                  <span>Forgot password?</span>
                </span>
              </div>
            </form>
          </div>
        </div>
        <div class="other-logins">
          <div class="container-or">
            <div class="container-line1">
              <svg
                width="170"
                height="2"
                viewBox="0 0 170 2"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <line
                  x1="1"
                  y1="1"
                  x2="169"
                  y2="1"
                  stroke="#4D4D4D"
                  stroke-width="2"
                  stroke-linecap="round"
                />
              </svg>
            </div>
            <span class="text-or">Or</span>
            <div class="container-line2">
              <svg
                width="170"
                height="2"
                viewBox="0 0 170 2"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <line
                  x1="1"
                  y1="1"
                  x2="169"
                  y2="1"
                  stroke="#4D4D4D"
                  stroke-width="2"
                  stroke-linecap="round"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <app-button [styleContext]="'sign-up-text-button'" [context]="'Don\'t have an account? Sign Up'"
                  [routerLink]="'../signup'"></app-button>
    </div>
  </div>
</div>
