<p-toast></p-toast>

<div class="wrapper">
  <div class="left-container">
    <h1 class="title">Long time no see!</h1>
    <div class="subtitle-container">
      <h2 class="subtitle">Collabro</h2>
    </div>
  </div>

  <div class="right-container">
    <div class="form">
      <div class="form-container">
        <div class="form-text-container">
          <div class="form-title"> Login </div>
          <div class="form-subtitle"> Glad you are back! </div>
        </div>

        <div class="input-container">
          <input class="input-element" placeholder="Username">
        </div>

        <div class="input-container">
          <input class="input-element"
                 matInput
                 placeholder="Password" />
        </div>

        <div class="input-container">
          <button class="login-button"> Login </button>
        </div>

        <div class="divider">
          <div class="divider-left"></div>
          <div class="divider-text">Or</div>
          <div class="divider-right"></div>
        </div>

        <div class="footer-container">
          <a class="transparent-button">Don't have an account? Sign Up</a>
        </div>
      </div>

    </div>
  </div>
</div>
