<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="project-container">
  <app-button [styleContext]="'show-board-button'" [context]="'Show Board'" (click)="toggleBoard()"></app-button>
  <app-button [styleContext]="'create-task-button'" [context]="'Add Task'"
              (click)="showTaskCreationDialog()"></app-button>
  <app-button [styleContext]="'create-task-button'" [context]="'Add Techs'"></app-button>

  <div class="board-wrapper" *ngIf="showBoard">

    <div class="board-columns">
      <div class="board-column" pDroppable (onDrop)="drop('todo')">
        <div class="column-title">Todo</div>
        <div class="tasks-container">
          <div class="task" *ngFor="let task of availableTasks" pDraggable
               (onDragStart)="dragStart(task)" (onDragEnd)="dragEnd()" (click)="getTaskIdClick(task)">
            <app-button [styleContext]="'show-dialog-update-button'" [context]="task.task"
                        (click)="showTaskUpdatingDialog()"></app-button>
          </div>
        </div>
      </div>

      <div class="board-column" pDroppable (onDrop)="drop('inProcess')">
        <div class="column-title">In Process</div>
        <div class="tasks-container">
          <div class="task" *ngFor="let task of selectedTasks" pDraggable
               (onDragStart)="dragStart(task)" (onDragEnd)="dragEnd()" (click)="getTaskIdClick(task)">
            <app-button [styleContext]="'show-dialog-update-button'" [context]="task.task"
                        (click)="showTaskUpdatingDialog()"></app-button>
          </div>
        </div>
      </div>

      <div class="board-column" pDroppable (onDrop)="drop('done')">
        <div class="column-title">Done</div>
        <div class="tasks-container">
          <div class="task" *ngFor="let task of doneTasks" pDraggable
               (onDragStart)="dragStart(task)" (onDragEnd)="dragEnd()" (click)="getTaskIdClick(task)">
            <app-button [styleContext]="'show-dialog-update-button'" [context]="task.task"
                        (click)="showTaskUpdatingDialog()"></app-button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<form [formGroup]="creationTaskForm">
  <p-dialog header="Task" [(visible)]="taskVisible" [style]="{width: '20vw'}">
    <input type="text" class="board-name-input" formControlName="task" placeholder="Task">
    <app-button [styleContext]="'add-board-button'" [context]="'Create'" (click)="createTask()"></app-button>
  </p-dialog>
</form>

<form [formGroup]="updatingTaskForm">
  <p-dialog header="Task" [(visible)]="updateTaskVisible" [style]="{width: '20vw'}">
    <input type="text" class="board-name-input" formControlName="task" placeholder="Task">
    <app-button [styleContext]="'update-task-button'" [context]="'Update'" (click)="updateTask()"></app-button>
    <app-button [styleContext]="'delete-task-button'" [context]="'Delete'" (click)="deleteTask()"></app-button>
  </p-dialog>
</form>

<div class="project-info-container">
  <ng-container *ngIf="projects$ | async as projectInfo">
    <div class="title-container">{{ projectInfo.title }}
      <div class="description-container">{{ projectInfo.description }}
        <div class="line-svg">
          <svg width="324" height="2" viewBox="0 0 324 2" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="0.666626" width="324" height="1" fill="#F0F0F0"/>
          </svg>
        </div>
      </div>
    </div>
    <div class="info-container">
      <span>Payment: <span class="payment-content ">{{ projectInfo.payment | currency: 'USD' }}</span></span>
      <span>Technology stack</span>
      <div class="tech-stack-container">
        <div class="tech-header">
          <span>Language</span>
          <span>Framework</span>
        </div>
        <div class="tech-container">
          <ul>
            <li *ngFor="let tech of projectInfo.technologies" class="tech-content">
              <span>{{ tech.technology }}</span>
              <span>{{ tech.framework }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="member-container">
      <div>Members</div>
      <ul>
        <li *ngFor="let dev of projectInfo.developers" class="member-content">
          <span>{{ dev.firstName }} {{ dev.lastName }}</span>
        </li>
      </ul>
    </div>
  </ng-container>
</div>
