@import "../../../../../styles/variables";

.project-wrapper {
  padding: 24px;
  border-radius: 15px;
  background-color: #1A1C22;
  height: 100%;
  display: flex;
  cursor: pointer;

  .project-header {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.2rem;
  }

  .project-subtitle {
    font-weight: 100;
    font-size: 1.2rem;
    line-height: 15px;
    color: #8894A6;
  }

  .project-upper-section-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    column-gap: 3.6rem;
  }

  .project-lower-section-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.2rem;
  }

  .project-start-data {
    font-weight: 200;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #8894A6;
  }

  .project-price {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.2rem;
    color: $main-purple-color;
    padding: 1rem 0 1rem 1rem;

    &-time {
      font-weight: 200;
      font-size: 1.4rem;
      line-height: 2.2rem;
      color: azure;
      padding-left: 0.5rem;
    }
  }
}
