<h2 class="request-visit-content-title project-title m-t-2-4">
  {{ 'technologies.technologiesLabel' | translate }}
</h2>

<div class="d-flex w-100 flex-wrap justify-content-center">
  <div class="checkboxes-container">
    <div class="checkbox-container" *ngFor="let form of firstTechnologyColumn">
      <mat-checkbox [matTooltip]="form?.technology"
                    matTooltipClass="tooltip"
                    [aria-label]="form?.id"
                    [aria-labelledby]="form?.technology"
                    [checked]="projectForm.get('frameworkIds').value.includes(form.id)"
                    (change)="onTechnologyCheckboxChange(form.id, $event.checked)"
                    [value]="form.id" class="checkbox">
        {{ form?.technology | translate }}
      </mat-checkbox>
    </div>
  </div>

  <div class="checkboxes-container">
    <div class="checkbox-container" *ngFor="let form of secondTechnologyColumn">
      <mat-checkbox [matTooltip]="form?.technology"
                    matTooltipClass="tooltip"
                    [aria-label]="form?.id"
                    [aria-labelledby]="form?.technology"
                    [checked]="projectForm.get('frameworkIds').value.includes(form.id)"
                    (change)="onTechnologyCheckboxChange(form.id, $event.checked)"
                    [value]="form.id" class="checkbox">
        {{ form?.technology | translate }}
      </mat-checkbox>
    </div>
  </div>

  <div class="checkboxes-container">
    <div class="checkbox-container" *ngFor="let form of thirdTechnologyColumn">
      <mat-checkbox [matTooltip]="form?.technology"
                    matTooltipClass="tooltip"
                    [aria-label]="form?.id"
                    [aria-labelledby]="form?.technology"
                    [checked]="projectForm.get('frameworkIds').value.includes(form.id)"
                    (change)="onTechnologyCheckboxChange(form.id, $event.checked)"
                    [value]="form.id" class="checkbox">
        {{ form?.technology | translate }}
      </mat-checkbox>
    </div>
  </div>
</div>
