<app-header></app-header>

<app-sidebar></app-sidebar>


<div class="profile-info-container">
  <div class="my-account-header">
    <span class="my-account-header-content">My account</span>
  </div>
  <span class="user-info-header">USER INFORMATION</span>
  <div class="credentials-container">
    <div class="avatar-container">
      <div class="avatar-content">
        <button class="avatar-button"><p-avatar label="P" size="xlarge"></p-avatar></button>
      </div>
    </div>
    <div class="username-header">
      <span class="username-content">Username</span>
      <input type="text" class="username-input" placeholder="something">
    </div>
    <div class="email-header">
      <span class="email-content">Email</span>
      <input type="text" class="email-input" placeholder="something@mail.com">
    </div>
    <div class="first-name-header">
      <span class="first-name-content">First Name</span>
      <input type="text" class="first-name-input" placeholder="something">
    </div>
    <div class="last-name-header">
      <span class="last-name-content">Last Name</span>
      <input type="text" class="last-name-input" placeholder="something">
    </div>
    <app-button [styleContext]="'update-user-button'" [context]="'Save'"></app-button>
    <div class="line">
      <svg width="1001" height="1" viewBox="0 0 1001 1" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="1001" height="1" fill="black" fill-opacity="0.1"/>
      </svg>
    </div>
    <span class="tech-header">Technologies</span>
  </div>
</div>
