.title {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 32px;
  margin-bottom: 1.2rem;
}

.empty-state-wrapper {
  padding: 40px;
  color: azure;
  border-radius: 20px;
  border: 1px solid #373639;
  background: #13161B;
  min-height: calc(100vh - 3.2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
