<div class="page-wrapper">
  <div class="d-flex w-100 justify-content-space-between align-items-center">
    <div class="title">{{ 'sideBar.notificationsLabel' | translate }}</div>
    <button (click)="readAllAlerts()" matTooltipClass="tooltip" mat-icon-button
            matTooltip="{{'alerts.markAllAsReadLabel' | translate}}"
            matTooltipPosition="above">

      <mat-icon [svgIcon]="'read-all'"></mat-icon>
    </button>
  </div>
  <collabro-paginator class="h-100" (loadDataEmitter)="loadData()"
                       [loadDataByClick]="false"
                       [showMoreButton]="this.totalNotifications > this.notifications?.length">
    <collabro-notification-list-item *ngFor=" let notification of notifications"
                                     [notification]="notification" />
  </collabro-paginator>
</div>
