<div *ngIf="notifications.length || isLoadingNotifications else notificationsEmptyState"
     class="page-wrapper">
  <div class="d-flex w-100 justify-content-space-between align-items-center">
    <div class="title">{{ 'sideBar.notificationsLabel' | translate }}</div>
    <button (click)="readAllAlerts()" matTooltipClass="tooltip" mat-icon-button
            matTooltip="{{'notification.markAllAsReadLabel' | translate}}"
            matTooltipPosition="above">

      <mat-icon [svgIcon]="'read-all'"></mat-icon>
    </button>
  </div>
  <collabro-paginator class="h-100" (loadDataEmitter)="loadData()"
                       [loadDataByClick]="false"
                       [showMoreButton]="this.totalNotifications > this.notifications?.length">
    <collabro-notification-list-item *ngFor=" let notification of notifications"
                                     (notificationDeleted)="getNotifications()"
                                     [notification]="notification" />
  </collabro-paginator>
</div>

<ng-template #notificationsEmptyState>
  <div class="empty-state-wrapper">
    <collabro-empty-state class="h-100" [title]="('emptyState.noNotificationsYetLabel' | translate)"
                          [subtitle]="('emptyState.youAreCaughtUpAnyUpdatesWillAppearHereLabel' | translate)" />
  </div>
</ng-template>
