<div class="reviews-container h-100 w-100">
  <div class="d-flex w-100 justify-content-flex-end">
    <button class="button-purple m-b-1-6"
            (click)="openFeedbackDialog()"
            mat-button>
      {{ 'general.addLabel' | translate }}
    </button>
  </div>
  <ng-container *ngIf="feedbacks?.length else emptyReview">
    <collabro-paginator class="w-100"
                        [wrapper]="'flex'"
                        (loadDataEmitter)="loadData.emit(true)">
    <div class="review-box" *ngFor="let feedback of feedbacks">
      <div class="patient-name-container">
        <div class="d-flex align-items-center row-gap-1 column-gap-1">
          <div class="item-container-placeholder">
            <mat-icon *ngIf="!feedback?.avatarName; else avatarPhoto" class="item-container-placeholder-icon"
                      [svgIcon]="'avatar-placeholder-icon'"></mat-icon>

            <ng-template #avatarPhoto>
              <img [src]="imageData" alt="" class="avatar-photo">
            </ng-template>
          </div>
          <div>
            <div class="patient-name">{{ feedback?.firstName }} {{ feedback?.lastName }}</div>
            <div class="review-date">{{ feedback?.createdTimeStamp | localDate: 'longDateTime' }}</div>
          </div>
        </div>
        <mat-icon (click)="openFeedbackDialog(feedback?.id, feedback?.content)"
                  *ngIf="canEdit(feedback)"
                  style="cursor: pointer"
                  [svgIcon]="'edit'"/>
      </div>
      <span class="review-description">{{ feedback?.content }}</span>
    </div>
    </collabro-paginator>
  </ng-container>

  <ng-template #emptyReview>
    <div class="d-flex h-100 align-items-center justify-content-center">
      <collabro-empty-state [title]="('emptyState.noFeedbacksYetLabel' | translate)"
                            [subtitle]="currentUser?.roleName === roleEnum.Dev
                            ? ('emptyState.beTheFirstToShareFeedbackForProjectOwner' | translate)
                            : ('emptyState.beTheFirstToShareFeedback' | translate)"/>

    </div>
  </ng-template>
</div>

