<div class="main-background">
  <div class="container">
    <span class="left-side-text"><span>Let's continue.!</span></span>
    <div class="secondary-container">
      <span class="secondary-container-content"><span>Collabro</span></span>
    </div>
    <div class="first-ellipse">
      <svg
        width="302"
        height="302"
        viewBox="0 0 302 302"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="151" cy="151" r="151" fill="url(#paint0_linear_2169_6)"/>
        <defs>
          <linearGradient
            id="paint0_linear_2169_6"
            x1="151"
            y1="0"
            x2="151"
            y2="302"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#1A64BC" stop-opacity="0.57"/>
            <stop offset="1" stop-color="#EE98EA"/>
          </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="second-ellipse">
      <svg
        width="221"
        height="221"
        viewBox="0 0 221 221"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="110.157"
          cy="110.157"
          r="110"
          transform="rotate(-28.5 110.157 110.157)"
          fill="url(#paint0_linear_2169_7)"
        />
        <defs>
          <linearGradient
            id="paint0_linear_2169_7"
            x1="110.157"
            y1="0.157387"
            x2="110.157"
            y2="220.157"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#1A64BC" stop-opacity="0.7"/>
            <stop offset="1" stop-color="#EE98EA"/>
          </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="form-container">
      <div class="title-content">
        <div class="container-upper-section">
          <div class="container-register-text">
            <span class="register-text"><span>Sign up</span></span>
            <span class="secondary-text">
              <span>The last stage.!</span>
            </span>
          </div>
          <div class="container-credentials">
            <form [formGroup]="afterRegisterForm" (ngSubmit)="onSubmit()">
<!--              <app-input-->
<!--                [inputStyleContext]="'fname-input'"-->
<!--                [inputTypeContext]="'text'"-->
<!--                [inputPlaceholderContext]="'First Name'"-->
<!--                formControlName="firstName"-->
<!--              ></app-input>-->
              <input class="fname-input" type="text" placeholder="First Name" formControlName="firstName">
              <div *ngIf="afterRegisterForm.get('firstName')?.invalid && afterRegisterForm.get('firstName')?.touched">
                <div *ngIf="afterRegisterForm.get('firstName')?.errors?.['required']" class="validate-content">Field is required.</div>
              </div>
              <input class="lname-input" type="text" placeholder="First Name" formControlName="lastName">
              <div *ngIf="afterRegisterForm.get('lastName')?.invalid && afterRegisterForm.get('lastName')?.touched">
                <div *ngIf="afterRegisterForm.get('lastName')?.errors?.['required']" class="validate-content">Field is required.</div>
              </div>
              <div class="register-button-container">
                <app-button [context]="context" [styleContext]="styleContext" type="submit"
                            [disabled]="afterRegisterForm.invalid"
                >
                </app-button
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
