<div (click)="openDeveloperInfoDialog(developer)" class="card-wrapper flex-col">
  <div class="d-flex align-items-center">
    <div class="item-container-placeholder m-r-1-6 w-100">
      <mat-icon *ngIf="!developer?.avatarName; else avatarPhoto" class="item-container-placeholder-icon"
                [svgIcon]="'avatar-placeholder-icon'"></mat-icon>

      <ng-template #avatarPhoto>
        <img [src]="imageData" alt="" class="avatar-photo">
      </ng-template>
    </div>

    <div class="user-info-container">
      <div class="d-flex align-items-center w-100 column-gap-0-4">
        <div class="user-full-name"> {{ developer.firstName }} {{ developer.lastName }} </div>
        <div *ngIf="developer.address.countryCode">
          <div *ngIf="developer.address.countryCode === 'UA'; else otherCountry">
            <mat-icon [svgIcon]="'ukraine'"></mat-icon>
          </div>
          <ng-template #otherCountry>
            <mat-icon [svgIcon]="'usa'"></mat-icon>
          </ng-template>
        </div>
      </div>
      <div *ngIf="developer?.position" class="user-role-name">
        {{ 'general.currentDeveloperLabel' | translate:{ value: developer.position | developerPositionLabel | translate } }}
      </div>
      <div *ngIf="developer?.hourlyPayment">
        <span class="user-hourly-payment">{{ developer?.hourlyPayment }}</span>
        <span class="user-role-name"> {{ 'general.hourlyLabel' | translate }}</span>
      </div>
    </div>
  </div>

  <div class="technologies-container">
    <ng-container *ngIf="developer?.technologies?.length <= 3; else moreTechnologies">
      <div class="technology-item-container w-100 d-flex justify-content-center"
           *ngFor="let item of developer?.technologies">
        {{ item.technology | translate }}
      </div>
    </ng-container>

    <ng-template #moreTechnologies>
      <div class="technology-item-container w-100 d-flex justify-content-center"
           *ngFor="let item of developer?.technologies.slice(0, 3)">
        {{ item.technology | translate }}
      </div>
      <div class="footer-label">+{{ developer?.technologies?.length - 3 }}</div>
    </ng-template>
  </div>

</div>
