.background-container {
  width: 1547px;
  height: 114px;
  top: 272px;
  left: 320px;
  gap: 0px;
  opacity: 0.7;
  background-size: cover;
  position: absolute;
  border-radius: 5px;

  background: rgba(0, 0, 0, 1);

  box-shadow: 0px 20px 27px 0px rgba(0, 0, 0, 0.05);

  .avatar-container {
    width: 100%;
    display: flex;
    overflow: auto;
    flex-direction: row;

    .avatar-content {
      width: 81px;
      height: 81px;
      display: flex;
      overflow: hidden;
      position: relative;
      align-items: flex-start;
      flex-shrink: 1;
      background-color: rgba(215, 215, 215, 1);
      border-radius: 5px;
      margin: 15px 15px 15px 20px;

    }
  }

  .name-container {
    margin-top: 15px;
    width: 100%;
    display: flex;
    overflow: auto;
    flex-direction: column;

    .name-content {
      color: azure;
      width: 100%;
      height: auto;
      font-size: 24px;
      font-style: Regular;
      text-align: left;
      font-family: 'Aldrich';
      font-weight: 400;
    }

    .role-content {
      color: rgba(140, 140, 140, 1);
      width: 100%;
      height: auto;
      font-size: 20px;
      font-style: Regular;
      text-align: left;
      font-family: 'Aldrich';
      font-weight: 400;
    }
  }
}

.profile-info-container {
  top: 400px;
  left: 320px;
  width: 1051px;
  height: 929px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 5px;
  background: rgba(255, 255, 255, 1);


  .my-account-header {
    top: 0;
    left: 0;
    width: 1051px;
    height: 69px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: azure;
    border-radius: 5px;

    .my-account-header-content {
      top: 21px;
      left: 24px;
      color: rgba(50, 50, 93, 1);
      height: auto;
      position: absolute;
      font-size: 20px;
      font-style: Regular;
      text-align: left;
      font-family: 'Open Sans';
      font-weight: 400;
      line-height: normal;
      font-stretch: normal;
      text-decoration: none;
    }
  }

  .user-info-header {
    top: 96px;
    left: 24px;
    color: rgba(136, 152, 170, 1);
    height: auto;
    position: absolute;
    font-size: 13px;
    font-style: Bold;
    text-align: left;
    font-family: 'Open Sans';
    font-weight: 700;
  }

  .credentials-container {

    width: 100%;
    display: flex;
    overflow: auto;
    flex-direction: column;

    .username-header {
      top: 146px;
      left: 48px;
      width: 476px;
      height: 74px;
      display: flex;
      position: absolute;
      align-items: flex-start;
      flex-shrink: 0;
    }

    .email-header {
      top: 146px;
      left: 552px;
      width: 476px;
      height: 74px;
      display: flex;
      position: absolute;
      align-items: flex-start;
      flex-shrink: 0;
    }

    .first-name-header {
      top: 247px;
      left: 48px;
      width: 476px;
      height: 74px;
      display: flex;
      position: absolute;
      align-items: flex-start;
      flex-shrink: 0;
    }

    .last-name-header {
      top: 247px;
      left: 552px;
      width: 476px;
      height: 74px;
      display: flex;
      position: absolute;
      align-items: flex-start;
      flex-shrink: 0;

    }

    .line {
      top: 369px;
      left: 25px;
      width: 1001px;
      height: 1px;
      position: absolute;
    }

    .feedbacks-header {
      top: 397px;
      left: 25px;
      color: rgba(136, 152, 170, 1);
      height: auto;
      position: absolute;
      font-size: 14px;
      font-style: Bold;
      text-align: left;
      font-family: 'Open Sans';
      font-weight: 700;
    }
  }
}

.last-name-input,
.first-name-input,
.email-input,
.username-input {
  top: 28px;
  left: 0;
  width: 376px;
  height: 36px;
  position: absolute;
  border-radius: 6px;
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 93, 0.15);

  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.02);
}

.first-name-content,
.last-name-content,
.email-content,
.username-content {
  left: 1px;
  color: rgba(82, 95, 127, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: 'Open Sans';
  font-weight: 700;
}

.secondary-container {
  width: 356px;
  height: 428px;
  top: 400px;
  left: 1464px;
  gap: 0;
  display: flex;
  position: absolute;


  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;

  .secondary-container-content {
    top: 16.6666259765625px;
    left: 21px;
    color: rgba(37, 47, 64, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: SemiBold;
    text-align: left;
    font-family: 'Open Sans';
    font-weight: 600;
  }
}
