/* You can add global styles to this file, and also import other style files */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
}

@import url("https://fonts.googleapis.com/css?family=Noto Sans");
@import url("https://fonts.googleapis.com/css?family=Aldrich");
@import url("https://fonts.googleapis.com/css?family=Open Sans");

.validate-content {
  color: red;
}
